<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To do</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
  <script src="/bower_components/angular/angular.min.js"></script>
</head>
<body ng-app='myapp' ng-controller='mainctrl'>
  <form action="">
    <label for="">Description</label>
    <input type="text" ng-model='task.desc'>
    <label for="">Date</label>
    <input type="date" ng-model='task.date'>
    <button class='btn btn-success' ng-click='add(task)'>Add task</button>
  </form>

  <table>
    <thead>
        <tr><th ng-repeat='(key,value) in list[0]'>{{key}}</th></tr>
    </thead>
    <tbody>
        <tr ng-repeat='task in list track by $index'>
          <th ng-repeat='(key,value) in task'>{{value}}</th>
        </tr>
    </tbody>
  </table>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='/public/javascripts/myapp.js'></script>
</body>
</html>
