<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To do</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
  <link rel='stylesheet' href='/css/style.css' />
  <script src="/bower_components/angular/angular.min.js"></script>
</head>
<body ng-app='myapp' ng-controller='mainctrl'>
  <form action="">
    <label for="">Description</label>
    <input type="text" ng-model='desc'>
    <label for="">Date</label>
    <input type="date">
    <button class='btn btn-success' type='submit' ng-click='add()'></button>
  </form>

  <table>
    <thead>

    </thead>
    <tbody>

    </tbody>
  </table>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</body>
</html>
